* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
#root {
    overflow-y: auto;
}

#root {
    width: 100%;
    height: 100vh;
}

.show-whitelabel-img {
    display: none;
}

@media screen and (max-width: 769px) {
    .modal-content {
        width: 80% !important;
        overflow: unset;
        margin: 0;
    }

    .modal-card {
        margin: 0;
    }
}